body {
    padding: 0;
    font-family: Urbanist;
    color: #1A1B1B;

}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 44px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.menu-list {
    display: none;
}

.btns {
    display: none;
}

.live {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

.live img {
    border-left: 1px solid gray;
    box-sizing: border-box;
    padding-left: 8px;
}

.live span {
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
}

/* main */

main {
    max-width: 375px;
    margin: 0 auto;
}

.first-topic {
    border-bottom: 1px solid gray;
    margin: 0 8px 32px;
}

.first-topic p {
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
}

.first-topic span {
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
}

/* first card from list */

.first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}

.first-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}

.first-img {
    background: url(../IMG/image-1.png) no-repeat;
    background-position: center center;
    width: 360px;
    height: 420px;
    position: relative;
    margin: 0 auto;
}

.first-img span,
.topic {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 20px 10px 0;
    text-transform: uppercase;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
}


/* 1 card */

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px 0;
    border-bottom: 1px solid gray;
}

.card img {
    width: 359px;
    height: 166px;
    margin: 0 auto;
}

.topic {
    position: static;
    padding: 0;
    border: none;
    margin-left: 8px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin: 9px;
}

/* play button */

.play {
    position: relative;
    margin: 0 auto;
}

.play::after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    content: url(../IMG/play.svg);
    display: block;
}

/* additional topic */

.ad-topic {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin: 32px auto 32px 8px;
}

.short-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-left: 8px;
    overflow: hidden;
}

.date {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
    margin-left: 8px;
}

/* page */

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    padding: 10px;
    gap: 10px;
    margin: 0 auto 52px;
    align-self: center;
}

.page {
    color: #006CE5;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    border: 1px solid black;
    border-radius: 500px;
    box-sizing: border-box;
    padding: 10px;
}

.current {
    color: #1A1B1B;
    font-size: 20px;
}

.next {
    color: #006CE5;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
}

/* filters */

.filters {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    margin: 44px 8px;
    align-items: center;
    gap: 32px;

}

.search {
    display: flex;
    width: 306px;
    justify-content: space-between;
    align-items: center;
    background: #DCE4E7;
    margin: 0 auto;
}

.search span {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
}

.search img {
    background: #006CE5;
    padding: 10px;
    box-sizing: border-box;
}

.tag-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
    padding: 0 8px;
    width: 360px;
    height: 78px;
}

.tag-item {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

@media (min-width: 768px) {

    main {
        max-width: 768px;
        margin: 0 auto;
    }

    .first-img {
        width: 744px;
        height: 416px;
    }

    .card {
        flex-direction: row;
        gap: 24px;
        margin-left: 8px;
    }

    .card img {
        width: 296px;
        height: 166px;
    }

    .tag-list {
        width: 526px;
        height: 78px;
    }
}


@media (min-width: 1368px) {


    header {
        box-sizing: border-box;
        padding: 14px 36px;
    }

    .burger {
        display: none;
    }

    .menu-list {
        display: block;
        list-style-type: none;
        display: flex;
        gap: 40px;
        align-self: center;
    }

    .menu-item a {
        text-decoration: none;
        color: #1A1B1B;
        font-size: 18px;
        font-weight: 600;

    }


    main {
        max-width: 1368px;
        margin: 0 auto;
    }

    .first-card,
    .first-img {
        margin: 0;
    }

    .top-cards {
        display: flex;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .card {
        max-width: 900px;
        max-height: 2000px;
    }

    .card img {
        width: 196px;
        height: 110px;
        margin: 0;
    }

    /* aditional cards */

    .more {
        display: flex;
    }
}
